.bannerespecial{

width: 50%;
height: 60%;
color: antiquewhite;
padding: 0,5 rem;
border-radius: 2 px;
text-align: justify center;

margin: 1,5rem auto;
background-color: blanchedalmond;
border-radius: 0cap;



}